.grid {
  display: grid;
  grid-template-columns: 920px 448px;
  gap: 24px;

  grid-template-areas:
    'header header'
    'main   sidebar'
    'main   sidebar';
}

.header,
.slogan,
.portrait,
.work,
.about,
.contact,
.soc1als {
  border-radius: var(--border-radius);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}