.grid {
  display: grid;
  grid-template-columns: 920px 448px;
  gap: 24px;

  grid-template-areas:
    'header header'
    'left   right'
    'left   right';
}

.header,
.slogan,
.portrait,
.work,
.about,
.contact,
.soc1als {
  border-radius: var(--border-radius);
}

.header {
  grid-area: header;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}