.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 24px;
  background-color: var(--color-primary);
}

.header-logo {
  font-weight: 500;
  font-size: 25px;

  &:hover {
    rotate: -4deg;
  }
}

.header-logo-name {
  font-weight: 300;
  font-style: italic;
}

.header-menu-list {
  display: flex;
  column-gap: 48px;
}